<div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about me</h4>
  <p>I am an application developer and server administrator for the <a href="http://cas.illinoisstate.edu">College of Arts and Sciences</a> at <a href="http://IllinoisState.edu">Illinois State University</a>, as well as a Masters student studying IT security and networking. Currently I'm interested in VoIP technologies and security, reverse engineering, exploit development, and secure web programming.</p>
  <p>You can follow me on Twitter <a href="http://twitter.com/ch1gg1ns">@ch1gg1ns</a>, on <a href="http://github.com/chiggins">GitHub</a>, or you can find me on <a href="http://FreeNode.net">FreeNode</a> as chiggins usually lurking in #isusec or #vulnhub.</p>
  <div class="social-icon-list">
    <a title="Twitter" href="https://twitter.com/ch1gg1ns"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    <a title="GitHub" href="https://github.com/chiggins"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="E-Mail" href="mailto:chris@chigs.me"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  </div>
</div>
